.btn {
/* display: flex; */
/* flex-direction: row; */
display: flex;
flex-direction: row;
background-color:#F3F4F6;
gap: 10px;
margin-top: 10px;
border-radius: 5px;
width: 130px;
height: 100%;


}
.btnActive {
    background-color: #3C82F6;
}